@charset "ISO-8859-1";
.hello-title{
    color: darkgreen;
    
}

a.boton{
  border-radius: 5px;
  padding: 10px 7px;
  text-decoration: none;
  color: #000000;
  background-color: #666666;
  margin: 5px;
}

a.danger{
  border-radius: 5px;
  padding: 10px 7px;
  text-decoration: none;
  color: #000000;
  background-color: #FA6D64;
  margin: 5px;
}

a.warning{
  border-radius: 5px;
  padding: 10px 7px;
  text-decoration: none;
  color: #000000;
  background-color: #FCFC77;
  margin: 5px;
}

a.blue{
  border-radius: 5px;
  padding: 10px 7px;
  text-decoration: none;
  color: #000000;
  background-color: #77C3FC;
  margin: 5px;
}

a.green{
  border-radius: 5px;
  padding: 10px 7px;
  text-decoration: none;
  color: #000000;
  background-color: #24FB3E;
  margin: 5px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

